@import 'normalize'
@import 'helper'
@import 'octicons.css'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

@font-face
  font-family: octicon;
  src: url('fonts/octicons.ttf');

html
  font-family: myFirstFont;

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

header
  background: $grey
  color:$black
  padding: 1em

  nav
    float:right
    user-select:none

  .nav-item
    float:left
    margin-left:.5em

    a.active
      text-decoration:underline

.content
  padding: 1em

.octicon.octicon-git-pull-request
  font-size: 25px;

.octicon.octicon-git-pull-request.open
  color: green

.octicon.octicon-git-pull-request.merged
  color: #9e157c

#notifications-list
  width: 300px;

  li.notification
    height: 45px

    .icon-container
      display: inline-block
      vertical-align: middle
      width: 15%

    list-style-type: none;

    .notification-content
      display: inline-block
      vertical-align: middle
      width: 85%

      .repo
        color: #818189;
        font-size: .9em;
        float: left;
        clear: both;

      .pr-name
        font-weight: bold


  li:not(:last-child)
    position: relative;
    border: 1px solid transparent;
    border-bottom-color: #ebf0f0;

  li:not(:first-child)
    margin-top: 5px;






