@import 'normalize'
@import 'helper'
@import 'octicons.css'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

@font-face
  font-family: octicon;
  src: url('fonts/octicons.ttf');

html
  font-family: myFirstFont;

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

header
  background: $grey
  color:$black
  padding: 1em

  nav
    float:right
    user-select:none

  .nav-item
    float:left
    margin-left:.5em

    a.active
      text-decoration:underline

.content
  padding: 1em

.octicon.octicon-git-pull-request, .octicon.octicon-chevron-right
  font-size: 25px;

.octicon.octicon-git-pull-request.open
  color: #6cc644

.octicon.octicon-git-pull-request.merged
  color: #9e157c

.pull-request-container
  display: inline-block
  vertical-align: top
  padding-left: 20px
  width: 75%

  img.loading
    width: 130px;
    margin: 0 auto;
    display: block;
    margin-top: 15%;

  .pull-request
    .pull-request-title-container
      font-size: 25px

      .icons
        vertical-align: middle
        font-size: 17px
        background: #6cc644
        display: inline-block
        color: #ffffff
        padding: 0 6px

        .open
          font-size: 17px
          color: #ffffff
      .title
        margin-left: 35px;
        vertical-align: middle
        color: #000000
      .number
        vertical-align: middle
        color: rgb(170, 170, 170);
        margin-left: 20px

.notifications-container
  display: inline-block
  vertical-align: middle
  width: 25%

  #notifications-list
    width: 300px;

    li.notification
      height: 45px

      .view-detail-button
        width: 10%
        display: inline-block
        vertical-align: middle

      .icon-container
        display: inline-block
        vertical-align: middle
        width: 15%

      list-style-type: none;

      .notification-content
        display: inline-block
        vertical-align: middle
        width: 75%

        .repo
          color: #818189;
          font-size: .9em;
          float: left;
          clear: both;

        .pr-name
          a
            font-weight: bold
            color: black


    li:not(:last-child)
      position: relative;
      border: 1px solid transparent;
      border-bottom-color: #ebf0f0;

    li:not(:first-child)
      margin-top: 5px;






